################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64/Debug
/.vs/Algorithmization/v15
/LW1/x64
/LW2/x64
/LW3/x64
/LW3_2/x64
/LW4/x64
/LW4_test/x64
/LW5/x64
/LW6/x64
/packages
/Diamond/x64
/TestResults