################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64/Debug
/.vs/Algorithmization/v15
/LW1/x64
/LW2/x64